/* Write your CSS here */
.app-container {
  background-image: linear-gradient(to right, #e2a139, #f9d423);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-toss-container {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.heading {
    color: #a35200;
}

.description {
    color: #334155;
    font-size: 24px;
    font-weight: bold;
}

.toss-image {
    height: 180px;
}

.toss-button {
    height: 40px;
    width: 100px;
    margin: 20px;
    border: none;
    background-color: #f9d423;
    border-radius: 10px;
}